# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

#### 1. Python
#### 2. R
#### 3. Julia
#### 4. Scala

__Objectives:__

+ List of Popular Data Science Languages
+ List of Commonly Used Libraries
+ How to perform Arithmetic Expression

### Some of the commonly used libraries used by Data Scientists include:

#### 1. Numpy
#### 2. Scikit-learn
#### 3. Pandas
#### 4. TensorFlow

|Data Science Tools|
-----------------------------
|R Studio|
|Jupyter Notebook|
|PyCharm|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# his will convert 200 minutes to hours by diving by 60

hour = 200/60
hour

3.3333333333333335

## Author
Saad Ahmad